@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

/*MEDIA QUERIE CELULAR*/
@media only screen and (max-width: 386px) and (min-width: 280px) {
  #titulo-navbar {
    font-size: 0px;
  }
  .btn-group-vertical {
    display: none;
  }
  h1 {
    color: #44749d;
    padding-top: 120px;
    text-align: center;
    font-size: 250%;
  }
  .section1-info {
    text-align: center;
    color: #535352;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 120%;
    padding: 20px;
  }
  .section1 {
    color: #fff;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(/daac885…/c157c/assets/svg/common-bg.svg);
    background-position: center;
    height: 30vh;
    min-height: 30rem;
    max-height: 30rem;
  }
  #boton-work2 {
    font-size: 10px;
  }
  .logo1 {
    width: 0px;
  }
  .boton-work {
    color: #44749d;
  }
  .boton-work {
    text-align: center;
    padding-top: 1%;
  }
  /* Estilos para el botón gris */
  #boton-work2 {
    background-color: #44749d;
    border: 5px solid #c6d4e1;
    border-radius: 60px;
    padding: 20px;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    letter-spacing: 7px;
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno del botón */
    transition: transform 0.2s; /* Animación de transformación */
  }
  #boton-work2:hover {
    transform: scale(1.1); /* Agrandar la carta al pasar el ratón sobre ella */
  }
  .section2 {
    color: #44749d;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(115, 129, 134, 0.7483368347) 0%, rgb(68, 116, 157) 100%);
    background-position: center;
    height: 100vh;
    min-height: 60rem;
    max-height: 60rem;
  }
  .titulo-aboutme {
    font-size: 45px;
    color: #ebe7e0;
    padding-top: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  #presentacion-jony {
    color: #ebe7e0;
    font-size: 18px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
    padding: 20px;
  }
  .presentacion {
    height: 100%;
  }
  #foto-jony {
    height: 27%;
    box-shadow: 2px 5px 5px #535352;
    transition: transform 0.2s; /* Animación de transformación */
  }
  #foto-jony:hover {
    transform: scale(1.1); /* Agrandar la carta al pasar el ratón sobre ella */
  }
  .skill-titulo {
    color: #ebe7e0;
    font-family: "Courier New", Courier, monospace;
    text-decoration: overline;
    font-size: 20px;
    margin-top: -450px;
  }
  #columna-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 3px;
    padding: 12px;
    color: #ebe7e0;
    font-size: 9px;
  }
  .boton-contenedor {
    padding: 3px;
    background-color: #44749d;
    margin: 3px;
    border-radius: 5px;
    text-align: center;

  }
  #cartas-dejony{
    color:#44749d;
    border: 2px solid;
    background-color:#ebe7e0;
    margin: 35px;
  } 
#titulo-studies {
  text-decoration: underline;
  font-size: 45px;
  color:#535352;
  padding-left: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  }
   .section3 {
    color: #44749d;
    background: #ebe7e0;
    height: 80vh;
    min-height: 37rem;
    max-height: 37rem;
  }
  .navbar-nav .nav-link {
    margin-right: 30px; /* Ajusta el valor según el espaciado que desees */
  }
  /* Agrega un estilo para el separador entre elementos del menú */
  .separator {
    display: inline-block;
    width: 2px; /* Ancho del separador */
  }
  .card {
    transition: transform 0.2s; /* Animación de transformación */
  }
  .card:hover {
    transform: scale(1.1); /* Agrandar la carta al pasar el ratón sobre ella */
  }
}
  
/*MEDIA QUERIE MEDIANO PARTE 1*/
@media only screen and (max-width: 545px) and (min-width: 386px) {
  #titulo-navbar {
    font-size: 0px;
  }
  h1 {
    color: #44749d;
    padding-top: 150px;
    text-align: center;
    font-size: 220%;
  }
  .section1-info {
    text-align: center;
    color: #535352;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 140%;
    padding: 20px;
  }
  .section1 {
    color: #fff;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(/daac885…/c157c/assets/svg/common-bg.svg);
    background-position: center;
    height: 30vh;
    min-height: 30rem;
    max-height: 30rem;
  }
  #boton-work2 {
    font-size: 10px;
  }
  .logo1 {
    width: 0px;
  }
  .boton-work {
    color: #44749d;
  }
  .boton-work {
    text-align: center;
    padding-top: 1%;
  }
  /* Estilos para el botón gris */
  #boton-work2 {
    background-color: #44749d;
    border: 5px solid #c6d4e1;
    border-radius: 60px;
    padding: 20px;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    letter-spacing: 7px;
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno del botón */
    transition: transform 0.2s; /* Animación de transformación */
  }
  .btn-group-vertical {
    display: none;
  }
  #boton-work2:hover {
    transform: scale(1.1); /* Agrandar la carta al pasar el ratón sobre ella */
  }
  .section2 {
    color: #44749d;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(115, 129, 134, 0.7483368347) 0%, rgb(68, 116, 157) 100%);
    background-position: center;
    height: 100vh;
    min-height: 60rem;
    max-height: 60rem;
  }
  .titulo-aboutme {
    font-size: 45px;
    color: #ebe7e0;
    padding-top: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  #presentacion-jony {
    color: #ebe7e0;
    font-size: 18px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
    padding: 20px;
  }
  .presentacion {
    height: 100%;
  }
  #foto-jony {
    height: 27%;
    box-shadow: 2px 5px 5px #535352;
    transition: transform 0.2s; /* Animación de transformación */
  }
  #foto-jony:hover {
    transform: scale(1.1); /* Agrandar la carta al pasar el ratón sobre ella */
  }
  .skill-titulo {
    color: #ebe7e0;
    font-family: "Courier New", Courier, monospace;
    text-decoration: overline;
    font-size: 28px;
    margin-top: -480px;
  }
  #columna-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 3px;
    padding: 15px;
    color: #ebe7e0;
    font-size: 12px;
  }
  .boton-contenedor {
    padding: 3px;
    background-color: #44749d;
    margin: 3px;
    border-radius: 5px;
  }
  #cartas-dejony{
    color:#44749d;
    border: 2px solid;
    background-color:#ebe7e0;
    margin: 35px;
  } 
#titulo-studies {
  text-decoration: underline;
  font-size: 45px;
  color:#535352;
  padding-left: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  }
   .section3 {
    color: #44749d;
    background: #ebe7e0;
    height: 80vh;
    min-height: 37rem;
    max-height: 37rem;
  }
  .navbar-nav .nav-link {
    margin-right: 30px; /* Ajusta el valor según el espaciado que desees */
  }
  /* Agrega un estilo para el separador entre elementos del menú */
  .separator {
    display: inline-block;
    width: 2px; /* Ancho del separador */
  }
  .card {
    transition: transform 0.2s; /* Animación de transformación */
  }
  .card:hover {
    transform: scale(1.1); /* Agrandar la carta al pasar el ratón sobre ella */
  }
}


/* MEDIA QUERIE MEDIDA 2 */
@media only screen and (max-width: 1000px) and (min-width: 545px) {
  .boton-work {
    color: #44749d;
  }
  .section1 {
    color: #fff;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(/daac885…/c157c/assets/svg/common-bg.svg);
    background-position: center;
    height: 30vh;
    min-height: 30rem;
    max-height: 30rem;
  }
  .btn-group-vertical {
    display: none;
  }
  .boton-work {
    text-align: center;
    padding-top: 1%;
  }
  /* Estilos para el botón gris */
  #boton-work2 {
    background-color: #44749d;
    border: 5px solid #c6d4e1;
    border-radius: 60px;
    padding: 20px;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    letter-spacing: 7px;
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno del botón */
    transition: transform 0.2s; /* Animación de transformación */
  }
  #boton-work2:hover {
    transform: scale(1.1); /* Agrandar la carta al pasar el ratón sobre ella */
  }
  h1 {
    color: #44749d;
    padding-top: 150px;
    text-align: center;
    font-size: 220%;
  }
  .navbar-brand {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-style: inherit;
    letter-spacing: 1px;
    color: gray;
    font-size: 15px;
  }
  .section1-info {
    text-align: center;
    color: #535352;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 170%;
    padding: 20px;
  }
  .boton-work {
    color: #44749d;
  }
  .boton-work {
    text-align: center;
    padding-top: 1%;
  }
  /* Estilos para el botón gris */
  #boton-work2 {
    background-color: #44749d;
    border: 5px solid #c6d4e1;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    letter-spacing: 7px;
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno del botón */
    transition: transform 0.2s; /* Animación de transformación */
  }
  #boton-work2:hover {
    transform: scale(1.1); /* Agrandar la carta al pasar el ratón sobre ella */
  }
  .section2 {
    color: #44749d;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(115, 129, 134, 0.7483368347) 0%, rgb(68, 116, 157) 100%);
    background-position: center;
    height: 100vh;
    min-height: 60rem;
    max-height: 60rem;
  }
  .titulo-aboutme {
    font-size: 50px;
    color: #ebe7e0;
    padding-top: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  #presentacion-jony {
    color: #ebe7e0;
    font-size: 22px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
    padding: 20px;
  }
  .presentacion {
    height: 100%;
  }
  #foto-jony {
    height: 30%;
    box-shadow: 2px 5px 5px #535352;
    transition: transform 0.2s; /* Animación de transformación */
  }
  #foto-jony:hover {
    transform: scale(1.1); /* Agrandar la carta al pasar el ratón sobre ella */
  }
  .skill-titulo {
    color: #ebe7e0;
    font-family: "Courier New", Courier, monospace;
    text-decoration: overline;
    font-size: 30px;
    margin-top: -420px;
  }
  #columna-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 3px;
    padding: 15px;
    color: #ebe7e0;
    font-size: 14px;
  }
  .boton-contenedor {
    padding: 3px;
    background-color: #44749d;
    margin: 3px;
    border-radius: 5px;
  }
  #cartas-dejony{
    color:#44749d;
    border: 2px solid;
    background-color:#ebe7e0;
    margin: 35px;
  } 
#titulo-studies {
  text-decoration: underline;
  font-size: 45px;
  color:#535352;
  padding-left: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  }
   .section3 {
    color: #44749d;
    background: #ebe7e0;
    height: 100vh;
    min-height: 45rem;
    max-height: 45rem;
  }
  .navbar-nav .nav-link {
    margin-right: 30px; /* Ajusta el valor según el espaciado que desees */
  }
  /* Agrega un estilo para el separador entre elementos del menú */
  .separator {
    display: inline-block;
    width: 2px; /* Ancho del separador */
  }
  .card {
    transition: transform 0.2s; /* Animación de transformación */
  }
  .card:hover {
    transform: scale(1.1); /* Agrandar la carta al pasar el ratón sobre ella */
  }
}
/*MEDIA QUERIE GRANDE*/
@media only screen and (max-width: 2500px) and (min-width: 1000px) {
  .section1 {
    color: #fff;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(/daac885…/c157c/assets/svg/common-bg.svg);
    background-position: center;
    height: 35vh;
    min-height: 45rem;
    max-height: 45rem;
  }
  section {
    display: block;
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  }
  .container-fluid {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    float: right;
  }
  .navbar-nav {
    color: #bdb8ad;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    transition: color 0.3s;
  }
  #titulo-navbar {
    font-size: 15px;
    padding-left: 20px;
  }
  .navbar-nav a:hover {
    color: #44749d;
  }
  h1 {
    color: #44749d;
    padding-top: 270px;
    text-align: center;
    font-size: 300%;
  }
  .navbar-brand {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-style: inherit;
    letter-spacing: 1px;
    color: gray;
    font-size: 15px;
  }
  .section1-info {
    text-align: center;
    color: #535352;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 170%;
    padding: 20px;
  }
  .boton-work {
    color: #44749d;
  }
  .boton-work {
    text-align: center;
    padding-top: 1%;
  }
  /* Estilos para el botón gris */
  #boton-work2 {
    background-color: #44749d;
    border: 5px solid #c6d4e1;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    letter-spacing: 7px;
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno del botón */
    transition: transform 0.2s; /* Animación de transformación */
  }
  #boton-work2:hover {
    transform: scale(1.1); /* Agrandar la carta al pasar el ratón sobre ella */
  }
  .btn-group-vertical {
    background-color: white;
    height: 0px;
    width: 80px;
    align-items: center;
    box-shadow: #535352 2px 0px 2px;
    margin-top: -280px;
  }
  .about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
  }
  .logo1 {
    text-align: center;
    padding: 15px;
    top: 0;
    left: 0;
    width: 60%; /* Ajusta el valor para agrandar la parte deseada */
    height: 60%; /* Ajusta el valor para agrandar la parte deseada */
    transform-origin: center;
    color: #ebe7e0;
    margin-right: 20px; /* Ajusta el valor según el espacio que desees entre los logotipos */
    background-color: #44749d;
    border-radius: 2px;
  }
  a:hover .logo1 {
    background-color: #535352;
  }
  .section2 {
    color: #44749d;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(115, 129, 134, 0.7483368347) 0%, rgb(68, 116, 157) 100%);
    background-position: center;
    height: 100vh;
    min-height: 60rem;
    max-height: 60rem;
  }
  .titulo-aboutme {
    font-size: 60px;
    color: #ebe7e0;
    padding-top: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  #presentacion-jony {
    color: #ebe7e0;
    font-size: 22px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
    padding: 20px;
  }
  .presentacion {
    height: 100%;
  }
  #foto-jony {
    height: 35%;
    box-shadow: 2px 5px 5px #535352;
    transition: transform 0.2s; /* Animación de transformación */
  }
  #foto-jony:hover {
    transform: scale(1.1); /* Agrandar la carta al pasar el ratón sobre ella */
  }
  .skill-titulo {
    color: #ebe7e0;
    font-family: "Courier New", Courier, monospace;
    text-decoration: overline;
    font-size: 40px;
    margin-top: -420px;
  }
  #columna-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 3px;
    padding: 20px;
    color: #ebe7e0;
    font-size: 15px;
  }
  .boton-contenedor {
    padding: 3px;
    background-color: #44749d;
    margin: 3px;
    border-radius: 5px;
  }
  .section3 {
    color: #44749d;
    background: #ebe7e0;
    height: 100vh;
    min-height: 45rem;
    max-height: 45rem;
  }
  .navbar-nav .nav-link {
    margin-right: 30px; /* Ajusta el valor según el espaciado que desees */
  }
  /* Agrega un estilo para el separador entre elementos del menú */
  .separator {
    display: inline-block;
    width: 2px; /* Ancho del separador */
  }
  .card {
    transition: transform 0.2s; /* Animación de transformación */
  }
  .card:hover {
    transform: scale(1.1); /* Agrandar la carta al pasar el ratón sobre ella */
  }
  #titulo-studies {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 60px;
    padding-top: 250px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    gap: 20px; /* Espacio entre las columnas */
  }
  .columna-1 {
    grid-row: span 2; /* La primera columna ocupa dos filas */
    background-color: #ebe7e0;
    padding: 80px;
  }
  .columna-2 {
    background-color: #ebe7e0;
    padding: 20px;
  }
  .card-body {
    margin-top: 10px;
  }
  #cartas-dejony{
    color:#44749d;
    border: 2px solid;
    margin: 35px;
  } 
#titulo-studies {
  text-decoration: underline;
  font-size: 45px;
  color:#535352;
  padding-left: 30px;
  margin-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  }
}
#titulo-navbar:hover {
  color: #44749d;
}

section {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  color: #bdb8ad;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  transition: color 0.3s;
}

.container-fluid {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  float: right;
}

.navbar-nav a:hover {
  color: #44749d;
}

@media only screen and (max-width: 1000px) and (min-width: 990px) {
  #titulo-navbar {
    font-size: 15px;
    padding-left: 20px;
  }
  
}

/*# sourceMappingURL=estilos.css.map */
